@keyframes syncnow-bgrotation {
    0% {
        --bgrotation: 0deg;
    }
    1% {
        --bgrotation: 3.6deg;
    }
    2% {
        --bgrotation: 7.2deg;
    }
    3% {
        --bgrotation: 10.8deg;
    }
    4% {
        --bgrotation: 14.4deg;
    }
    5% {
        --bgrotation: 18deg;
    }
    6% {
        --bgrotation: 21.6deg;
    }
    7% {
        --bgrotation: 25.2deg;
    }
    8% {
        --bgrotation: 28.8deg;
    }
    9% {
        --bgrotation: 32.4deg;
    }
    10% {
        --bgrotation: 36deg;
    }
    11% {
        --bgrotation: 39.6deg;
    }
    12% {
        --bgrotation: 43.2deg;
    }
    13% {
        --bgrotation: 46.800000000000004deg;
    }
    14% {
        --bgrotation: 50.4deg;
    }
    15% {
        --bgrotation: 54deg;
    }
    16% {
        --bgrotation: 57.6deg;
    }
    17% {
        --bgrotation: 61.2deg;
    }
    18% {
        --bgrotation: 64.8deg;
    }
    19% {
        --bgrotation: 68.4deg;
    }
    20% {
        --bgrotation: 72deg;
    }
    21% {
        --bgrotation: 75.60000000000001deg;
    }
    22% {
        --bgrotation: 79.2deg;
    }
    23% {
        --bgrotation: 82.8deg;
    }
    24% {
        --bgrotation: 86.4deg;
    }
    25% {
        --bgrotation: 90deg;
    }
    26% {
        --bgrotation: 93.60000000000001deg;
    }
    27% {
        --bgrotation: 97.2deg;
    }
    28% {
        --bgrotation: 100.8deg;
    }
    29% {
        --bgrotation: 104.4deg;
    }
    30% {
        --bgrotation: 108deg;
    }
    31% {
        --bgrotation: 111.60000000000001deg;
    }
    32% {
        --bgrotation: 115.2deg;
    }
    33% {
        --bgrotation: 118.8deg;
    }
    34% {
        --bgrotation: 122.4deg;
    }
    35% {
        --bgrotation: 126deg;
    }
    36% {
        --bgrotation: 129.6deg;
    }
    37% {
        --bgrotation: 133.20000000000002deg;
    }
    38% {
        --bgrotation: 136.8deg;
    }
    39% {
        --bgrotation: 140.4deg;
    }
    40% {
        --bgrotation: 144deg;
    }
    41% {
        --bgrotation: 147.6deg;
    }
    42% {
        --bgrotation: 151.20000000000002deg;
    }
    43% {
        --bgrotation: 154.8deg;
    }
    44% {
        --bgrotation: 158.4deg;
    }
    45% {
        --bgrotation: 162deg;
    }
    46% {
        --bgrotation: 165.6deg;
    }
    47% {
        --bgrotation: 169.20000000000002deg;
    }
    48% {
        --bgrotation: 172.8deg;
    }
    49% {
        --bgrotation: 176.4deg;
    }
    50% {
        --bgrotation: 180deg;
    }
    51% {
        --bgrotation: 183.6deg;
    }
    52% {
        --bgrotation: 187.20000000000002deg;
    }
    53% {
        --bgrotation: 190.8deg;
    }
    54% {
        --bgrotation: 194.4deg;
    }
    55% {
        --bgrotation: 198deg;
    }
    56% {
        --bgrotation: 201.6deg;
    }
    57% {
        --bgrotation: 205.20000000000002deg;
    }
    58% {
        --bgrotation: 208.8deg;
    }
    59% {
        --bgrotation: 212.4deg;
    }
    60% {
        --bgrotation: 216deg;
    }
    61% {
        --bgrotation: 219.6deg;
    }
    62% {
        --bgrotation: 223.20000000000002deg;
    }
    63% {
        --bgrotation: 226.8deg;
    }
    64% {
        --bgrotation: 230.4deg;
    }
    65% {
        --bgrotation: 234deg;
    }
    66% {
        --bgrotation: 237.6deg;
    }
    67% {
        --bgrotation: 241.20000000000002deg;
    }
    68% {
        --bgrotation: 244.8deg;
    }
    69% {
        --bgrotation: 248.4deg;
    }
    70% {
        --bgrotation: 252deg;
    }
    71% {
        --bgrotation: 255.6deg;
    }
    72% {
        --bgrotation: 259.2deg;
    }
    73% {
        --bgrotation: 262.8deg;
    }
    74% {
        --bgrotation: 266.40000000000003deg;
    }
    75% {
        --bgrotation: 270deg;
    }
    76% {
        --bgrotation: 273.6deg;
    }
    77% {
        --bgrotation: 277.2deg;
    }
    78% {
        --bgrotation: 280.8deg;
    }
    79% {
        --bgrotation: 284.40000000000003deg;
    }
    80% {
        --bgrotation: 288deg;
    }
    81% {
        --bgrotation: 291.6deg;
    }
    82% {
        --bgrotation: 295.2deg;
    }
    83% {
        --bgrotation: 298.8deg;
    }
    84% {
        --bgrotation: 302.40000000000003deg;
    }
    85% {
        --bgrotation: 306deg;
    }
    86% {
        --bgrotation: 309.6deg;
    }
    87% {
        --bgrotation: 313.2deg;
    }
    88% {
        --bgrotation: 316.8deg;
    }
    89% {
        --bgrotation: 320.40000000000003deg;
    }
    90% {
        --bgrotation: 324deg;
    }
    91% {
        --bgrotation: 327.6deg;
    }
    92% {
        --bgrotation: 331.2deg;
    }
    93% {
        --bgrotation: 334.8deg;
    }
    94% {
        --bgrotation: 338.40000000000003deg;
    }
    95% {
        --bgrotation: 342deg;
    }
    96% {
        --bgrotation: 345.6deg;
    }
    97% {
        --bgrotation: 349.2deg;
    }
    98% {
        --bgrotation: 352.8deg;
    }
    99% {
        --bgrotation: 356.40000000000003deg;
    }
    100% {
        --bgrotation: 360deg;
    }
}
