@import url("./assets/fonts/fonts.scss");
@import url("./assets/bgrotation.scss");

$system-blue: #0a84ff;
$positive: #34c759;
$danger: #ff3b30;
$danger-less: #cc2f2741;
$bright: #30d896;
$bright-less: #00b89641;
$warning: #ff9500;
$almost-white: #f5f5f5;
$very-light-gray: #e5e5e5;

$headbar-height: 30px;

body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    background-color: $almost-white;
    user-select: none;
}

button {
    transition: filter 0.15s cubic-bezier(0.42, 0, 0.52, 0.89);
    &:hover {
        filter: brightness(90%);
    }
}

.confirm-button {
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
    background-color: $bright;
    color: white;
    border: 0;
    padding: 6px 15px;
    font-size: 0.9em;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 3px $bright-less;
}

.discard-button {
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
    background-color: $almost-white;
    color: black;
    border: 0;
    padding: 6px 15px;
    font-size: 0.9em;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 3px #0002;
}

.danger-button {
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
    background-color: $danger;
    color: white;
    border: 0;
    padding: 6px 15px;
    font-size: 0.9em;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 3px $danger-less;
}

.text-button {
    cursor: pointer;
    text-decoration: none;
    color: $system-blue;
}

.clickable {
    border-radius: 15%;
    cursor: pointer;
    padding: 2px;
    min-width: 24px;
    min-height: 24px;
    transition: backdrop-filter 0.2s ease-in-out;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    svg {
        width: 24px;
        height: 24px;
    }
    span {
        font-size: 10px;
    }
    &:hover {
        backdrop-filter: brightness(90%);
    }
    &.danger {
        color: $danger;
    }
    &.positive {
        color: $positive;
    }
}

svg.warning {
    padding-right: 4px;
    width: 20px;
    height: 20px;
    color: $warning;
}

.checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    svg {
        &.active {
            color: $bright;
        }
        cursor: pointer;
        height: 22px;
        width: 22px;
        path:hover {
            box-shadow: 0px 0px 5px 2px #0002;
        }
    }
}

.progress-bar {
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    background-color: white;
    margin-bottom: 6px;
    .progress-bar-inside {
        @keyframes progressbar {
            0% {
                background-position: 400% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        animation: progressbar 8s linear infinite;
        height: 100%;
        background-image: linear-gradient(300deg, #40c8e0, $system-blue, #40c8e0);
        background-size: 400% 200%;
    }
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.headbar {
    z-index: 1000;
    font-family: "Poppins", sans-serif;
    padding: 6px;
    height: $headbar-height;
    box-sizing: border-box;
    -webkit-app-region: drag;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9em;
    font-weight: bold;
}

.modal-container {
    @keyframes modal-backdrop {
        0% {
            backdrop-filter: blur(0px) brightness(100%);
        }
        100% {
            backdrop-filter: blur(2px) brightness(98%);
        }
    }
    $modal-anim-time: 0.15s;

    z-index: 10;
    position: fixed;
    top: $headbar-height;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - $headbar-height);
    animation: modal-backdrop $modal-anim-time cubic-bezier(0.5, 0.5, 0, 1);
    backdrop-filter: blur(2px) brightness(98%);
    .modal {
        @keyframes modal-opacity {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        animation: modal-opacity $modal-anim-time cubic-bezier(0.5, 0.5, 0, 1);
        border-radius: 12px;
        box-shadow: 0px 0px 10px 5px #0002;
        overflow: hidden;
    }
}

.section {
    margin: 8px;
    margin-top: 0;
    border-radius: 8px;
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
}

.main-view {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    .last-synced {
        h1 {
            font-family: "Poppins";
            margin: 0;
        }
    }
    .sync-now {
        position: absolute;
        text-align: center;
        font-weight: bold;
        top: 50%;
        left: 50%;
        padding: 0;
        transform: translate(-50%, -50%);
        border-radius: 35%;
        width: 60px;
        height: 60px;
        background-clip: padding-box;
        z-index: 0;

        &.discard-button {
            --bgrotation: 0deg;
            background-image: conic-gradient(
                from var(--bgrotation),
                transparent 30%,
                hsl(0, 100%, 50%),
                hsl(40, 100%, 50%),
                hsl(80, 100%, 50%),
                hsl(120, 100%, 50%),
                hsl(160, 100%, 50%),
                hsl(200, 100%, 50%),
                hsl(240, 100%, 50%),
                hsl(280, 100%, 50%),
                transparent
            );
            animation: syncnow-bgrotation 1.5s infinite;
            &::before {
                content: "";
                position: absolute;
                top: 1px;
                bottom: 1px;
                left: 1px;
                right: 1px;
                z-index: -1;
                // background-image: linear-gradient(45deg, white, black);
                background-color: #fffffff5;
                border-radius: 35%;
            }
        }
    }
    .user-status {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        .login-info {
            display: flex;
            align-items: center;
        }
        span {
            display: inline-flex;
            font-size: 1.1em;
            font-weight: bold;
        }
    }
}

.sync-progress {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 130px;

    h3 {
        font-size: 1.1em;
        font-family: "Poppins", sans-serif;
        margin: 0;
    }

    .sync-progress-idle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        flex: 1;
    }
    .sync-progress-wrap {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border-radius: 6px;
        overflow: hidden;
        .progress-container {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }
        .right {
            float: right;
        }
        h3 {
            display: inline;
            font-size: 1em;
        }
        .filename {
            display: block;
            font-weight: bold;
        }
    }
}

.sync-settings {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    background-color: $almost-white;
    padding: 0;
    gap: 8px;
    div {
        margin: 0;
    }
    h3 {
        font-size: 1.1em;
        font-family: "Poppins", sans-serif;
        margin: 0;
    }
    .download-path {
        flex: 1;
        display: flex;
        align-items: center;
        .path {
            font-size: 0.8em;
            display: block;
        }
        .clickable {
            margin-left: 6px;
        }
    }
    .autosync {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 4px;
        justify-content: center;
        min-width: 200px;
        .autosync-row {
            display: flex;
            justify-content: space-between;
            border-radius: 4px;
            &.disabled {
                cursor: not-allowed;
                color: #888;
            }
        }
        select {
            border: hidden;
            background-color: $very-light-gray;
            padding: 2px;
            border-radius: 4px;
            margin-left: 4px;
            &:disabled {
                cursor: not-allowed;
            }
        }
        span {
            vertical-align: middle;
            font-size: 1em;
        }
        .clickable {
            margin-left: 4px;
        }
    }
}

.course-container {
    flex: 1;
    padding: 0;
    overflow: auto;
    .course-row {
        display: flex;
        position: relative;
        align-items: center;
        box-sizing: border-box;
        padding: 4px 8px;
        margin-bottom: 1px;
        &:not(:last-child)::before {
            $bar-offset-left: 36px;
            content: "";
            position: absolute;
            box-sizing: border-box;
            left: $bar-offset-left;
            width: calc(98% - $bar-offset-left);
            bottom: -1px;
            border-bottom: 1px solid $very-light-gray;
        }
        .checkbox svg:not(.active) {
            filter: brightness(90%) saturate(80%);
        }
        span {
            margin-left: 6px;
            vertical-align: middle;
        }
    }
}

.settings {
    padding: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-family: "Poppins";
    }
    .setting {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 6px 0;
        &:not(:nth-last-of-type(2))::before {
            content: "";
            position: absolute;
            box-sizing: border-box;
            left: 4%;
            width: 92%;
            bottom: -7px;
            border-bottom: 1px solid $very-light-gray;
        }
        &:nth-last-of-type(2) {
            margin-bottom: 6px;
        }
        span {
            max-width: 200px;
        }
        select,
        input,
        .checkbox {
            border: hidden;
            background-color: $very-light-gray;
            padding: 2px;
            border-radius: 4px;
        }
        .checkbox {
            padding: 0;
        }
    }
    .credits {
        display: block;
        font-size: 0.8em;
        margin: 16px;
        color: #888;
        text-align: center;
        a {
            color: $system-blue;
        }
    }
}

.button-line-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
    margin-top: 12px;
    button {
        margin: 0;
    }
}
