@import url("./assets/fonts/fonts.scss");

$system-blue: #0a84ff;
$danger: #ff3b30;
$danger-less: #cc2f2741;
$bright: #40c8e0;
$bright-less: #30b0c741;
$accent: #ff9500;
$almost-white: #f5f5f5;
$very-light-gray: #dedede;

$headbar-height: 30px;

body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    background-color: $almost-white;
    user-select: none;
}

button {
    transition: filter 0.2s cubic-bezier(0.42, 0, 0.52, 0.89);
    &:hover {
        filter: brightness(90%);
    }
}

.confirm-button {
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
    background-color: $bright;
    color: white;
    border: 0;
    padding: 6px 15px;
    font-size: 0.9em;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 3px $bright-less;
}

.discard-button {
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
    background-color: $almost-white;
    color: black;
    border: 0;
    padding: 6px 15px;
    font-size: 0.9em;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 3px #0002;
}

.danger-button {
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
    background-color: $danger;
    color: white;
    border: 0;
    padding: 6px 15px;
    font-size: 0.9em;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 3px $danger-less;
}

.text-button {
    cursor: pointer;
    text-decoration: none;
    color: $system-blue;
}

svg.clickable {
    border-radius: 15%;
    cursor: pointer;
    padding: 2px;
    width: 24px;
    height: 24px;
    transition: backdrop-filter 0.2s ease-in-out;
    &:hover {
        backdrop-filter: brightness(90%);
    }
}

svg.warning {
    padding-right: 4px;
    width: 20px;
    height: 20px;
    color: $accent;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.headbar {
    z-index: 1000;
    font-family: "Poppins", sans-serif;
    padding: 6px;
    height: $headbar-height;
    box-sizing: border-box;
    -webkit-app-region: drag;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9em;
    font-weight: bold;
}

.modal-container {
    @keyframes modal-backdrop {
        0% {
            backdrop-filter: blur(0px) brightness(100%);
        }
        100% {
            backdrop-filter: blur(2px) brightness(98%);
        }
    }
    $modal-anim-time: 0.15s;

    z-index: 10;
    position: fixed;
    top: $headbar-height;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - $headbar-height);
    animation: modal-backdrop $modal-anim-time cubic-bezier(0.5, 0.5, 0, 1);
    backdrop-filter: blur(2px) brightness(98%);
    .modal {
        @keyframes modal-opacity {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        animation: modal-opacity $modal-anim-time cubic-bezier(0.5, 0.5, 0, 1);
        border-radius: 12px;
        box-shadow: 0px 0px 10px 5px #0002;
        overflow: hidden;
    }
}

.login {
    padding: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-family: "Poppins";
    }
    label {
        margin-bottom: 12px;
    }
    input {
        box-sizing: border-box;
        background-color: $very-light-gray;
        padding: 4px;
        border-radius: 4px;
        width: 100%;
        display: block;
        border: none;
    }
}

.main-view {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: $very-light-gray;
    .sync-status {
        h1 {
            font-family: "Poppins";
            margin: 0;
        }
    }
    .sync-now {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 35%;
        width: 60px;
        height: 60px;
    }
    .user-status {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        span {
            display: flex;
            font-size: 1.1em;
            font-weight: bold;
        }
    }
}

.course-container {
    flex: 1;
    margin: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: $very-light-gray;
    .course-row {
        position: relative;
        box-sizing: border-box;
        padding: 4px 8px;
        &:not(:last-child)::before {
            content: "";
            position: absolute;
            box-sizing: border-box;
            left: 2%;
            width: 96%;
            bottom: 0;
            border-bottom: 1px solid white;
        }
    }
}

.settings {
    padding: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-family: "Poppins";
    }
}

.button-line-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
    margin-top: 8px;
    button {
        margin: 0;
    }
}
